* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	width: auto;
    height: 100vh;
    /* background-color: rgb(201, 230, 201); */
}
.header{
	display: flex;
	flex-direction: column;
	width: auto;
	height: 140px;
}
.hat{
	display: flex;
	width: auto;
	flex-direction: column;
	height: 140px;
	/* background-color: darkorange; */
}
.logo{
	display: flex;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #cccccc;
	/* background-color: rgb(50, 235, 13); */
}
.logo span{
	display: flex;
	width: 80px;
	height: 30px;
}
.logo img{
	height: 18px;
	width: 18px;
	margin: 7px;
}
.logo p{
	margin-top: 6px;
	font-size: 16px;
} 
.customization{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
	background-color: #f7f4f4;
	border-bottom: 1px solid #cccccc;
}
.custom{
	display: flex;
	height: 100%;
	width: 500px;
}
.customization img{
	height: 17px;
	width: 10px;
}
.customization .arrow-left{
	display: flex;
	width: 40px;
	height: 40px;
	border-right: 1px solid #cccccc;
	padding: 10px 0 0 10px;
}
.arrow-left:hover{
	display: flex;
	width: 40px;
	height: 40px;
	background: #e2e1e1;
}
.customization .arrow-right{
	display: flex;
	width: 40px;
	height: 40px;
	border-right: 1px solid #cccccc;
	padding: 11px 0 0 15px;
}
.arrow-right:hover{
	display: flex;
	width: 40px;
	height: 40px;
	background: #e2e1e1;
}
.paragraphs{
	display: flex;
	margin: 10px 0 0 30px;
}
.paragraphs li{
    margin-right: 25px;
    list-style-type: none;
    color: #999999;
}
.tools{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 40px;
}
.tools span{
	display: flex;
	width: 280px;
	/* background-color: rgb(15, 196, 228); */
}
.tools #avatar{
	height: 30px;
	width: 30px;
	margin: 5px;
}
.tools #gear{
	height: 20px;
	width: 20px;
	margin: 10px 0 0 20px;
}
.tools p{
	margin: 12px 0 0 8px;
	color: #999999;
}
#replenish{
    border-radius: 10px;
    font-size: 12px;
    width: 80px;
    height: 20px;
	border:0;
	margin: 10px 0 0 20px;
    background-color: #0db90d;
    color: #ffffff;
}
#replenish:hover{
    background: #098309;
}
#replenish:active{
    outline: none;
    border: 0;
    background: #098309;
}
#replenish:focus{
    outline: none !important;
}
.widgets{
	display: flex;
	width: auto;
	height: 70px;
	/* background-color: cyan; */
} 
.parameters{
	display: flex;
    height: 70px;
	width: 300px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.justig{
	display: flex;
    height: 70px;
	width: 300px;
}
.message{
    width: 25px;
    margin: 17px 0 0 25px;
}
.message img{
    width: 35px;
}
.triangle-down {
    display: flex;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #808080;
    margin: -5px 0 0 40px;
}
.contacts span{
    display: flex;
    margin: 18px 0 0 90px;
    width: 25px;
}
.contacts img{
    height: 35px;
    width: 30px;
}
.profile span{
    display: flex;
    margin: 32px 0 0 65px;
    width: 30px;
}
.circle{
    display: flex;
    background: #a3a3a3;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin: 0 0 0 3px;
}
.inspectr{
	display: flex;
	height: auto;
	width: 100%;
}
.cadrs{
	display: flex;
	height: 100%;
	width: 100%;
	border-bottom: 1px solid #cccccc;
}
.interlocutor{
    width: 35vh;
    margin: 10px 0 0 15px;
}
.interlocutor img{
    width: 50px;
    height: 50px;
}
.interlocutor span{
    display: flex;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.interlocutor #name{
    color: #000000;
    margin-left: 10px;
    margin-top: 8px;

}
.interlocutor #gone{
    color: rgb(148, 148, 148);
    font-size: 15px;
    margin: 26px 0 0 -42px;
}
.functional{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    width: 80%;
}
.functional span{
	width: 150px;
	margin-top: 25px;
	margin-right: 15px;
}
.functional img{
    margin-right: 10px;
}

.wrapper{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	/* background-color: rgb(170, 170, 170); */
}
.interlocutors{
	display: flex;
	width: 300px;
	height: 100%;;
	border-right: 1px solid #cccccc;
	/* background-color: rgb(12, 12, 180); */
}
.interlocutors1{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100%;;
	/* background-color: rgb(24, 10, 221); */
}
.form{
	display: flex;
    width: 300px;
    height: 50px;
    border-bottom: 1px  solid #cccccc;
}
form {
  position: relative;
  width: 240px;
  height: 25px;
  margin: 12px 0 0 10px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5em;
}
input, #seabutton {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 82%;
  height: 25px;
  padding-left: 35px;
}
#seabutton {
  height: 20px;
  width: 42px;
  position: absolute;
  top: 4px;
  float: left;
  cursor: pointer;
}
#seabutton:before {
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
#seabutton img{
    height: 12px;
    width: 12px;
}
.interlocutors #clone{
    height: 14px;
    width: 14px;
    margin: 18px 18px 0 20px;
    float: right;
}
.elect{
	display: flex;
    width: 300px;
    height: 35px;
    border-bottom: 1px  solid #cccccc;
}
.elect p{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    top: 10px;
    left: 14px;
    position: relative;
    color: #a3a3a3;
}
.elect img{
	margin: 10px 0 0 215px;
	height: 14px;
	width: 8px;
	transform: rotate(90deg);
}
.mess{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 65vh;
	overflow: auto;
	overflow-x: hidden;
}
.local{
	width: 299px;
	height: 65vh;
}
.interlocutor1{
	display: flex;
    position: relative;
    width: 299px;
    height: 71px;
    border-bottom: 1px  solid #e4e4e4;
    cursor: pointer;
    background-color: #ffffff;
}
.interlocutor1:hover{
    background-color: #e7e7e7;
    width: 299px;
    height: 71px;
}
.circle2{
    display: flex;
    background: #0bd115;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin: 39px 0 0 -5px;
}
#active{
    background-color: #e7eaf1;
    width: 299px;
    height: 71px;
}
.inter{
    position: absolute;
    display: flex;
    padding: 10px 0 0 10px;
}
.inter img{
    width: 45px;
    height: 45px;
    border-radius: 1em;
}
.inter span{
    display: flex;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.inter p#name{
    position: absolute;
    color: #000000;
    margin: 8px 0 0px 56px;
    width: 160px;
}
.inter #gone{
    position: absolute;
    color: rgb(104, 104, 104);
    font-size: 12px;
    margin: 28px 0 0 56px;
    width: 160px;
}
.inter #calltime{
    position: absolute;
    color: rgb(148, 148, 148);
    font-size: 10px;
    padding: 0 0 0 220px;
}
.chat{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	/* background-color: darkgreen; */
}
.correspondence{
    display: flex;
    flex-direction: row;
	width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}
.get{
    display: flex;
    flex-direction: column;
}
.messages{
    display: flex;
    flex-direction: row;
    height: 65vh;
    width: 50%;
    justify-content: flex-end;
}
.messages1{
    display: flex;
    justify-content: flex-start;
    height: 65vh;
    width: 50%;
}
#date{
    position: absolute;
    left: 47%;
    color: rgb(138, 137, 137);
}
.focus{
    display: flex;
    flex-direction: column;
}
/*chat1*/
.correspondence1{
    display: flex;
    height: 80px;
    width: 300px;
}
.get #corres{
    margin-top: 40px;
}
.get #corres1{
    margin-top: 120px;
}
.get #corres2{
    margin-top: 70px;
}
.get #corres3{
    margin-top: 70px;
}
.focus{
    display: flex;
    flex-direction: column;
}
.messages img{
    display: flex;
    height: 35px;
    width: 35px;
}
.intermessage{
    margin-left: 5px;
    display: flex;
    height: 35px;
    width: 100px;
    background-color: #ececec;
    border-radius: 0 14px 14px 14px;
}
.intermessage p{
    margin-left: 10px;
    margin-top: 8px;
}
.intermessage1{
    margin: 3px 0 0 5px;
    display: flex;
    height: 35px;
    width: 170px;
    background-color: #ececec;
    border-radius: 0 14px 14px 14px;
}
.intermessage4{
    margin: 3px 0 0 5px;
    display: flex;
    height: 35px;
    width: 220px;
    background-color: #ececec;
    border-radius: 0 14px 14px 14px;
}
.intermessage1 p{
    margin-left: 10px;
    margin-top: 8px;
}
.intermessage4 p{
    margin-left: 10px;
    margin-top: 8px;
}
/*end*/
/*chat2*/
.correspondence2{
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: 300px;

}
.focus{
    display: flex;
    flex-direction: column;
}
.messages img{
    display: flex;
    height: 35px;
    width: 35px;
}
.intermessage2{
    margin-left: 75px;
    display: flex;
    height: 35px;
    width: 100px;
    background-color: #ececec;
    border-radius: 14px 0 14px 14px;
}
.intermessage2 p{
    margin-left: 10px;
    margin-top: 8px;
}
.intermessage5{
    margin-left: 75px;
    display: flex;
    height: 35px;
    width: 180px;
    background-color: #ececec;
    border-radius: 14px 0 14px 14px;
}
.intermessage5 p{
    margin-left: 10px;
    margin-top: 8px;
}
.intermessage3{
    margin: 3px 0 0 25px;
    display: flex;
    height: 35px;
    width: 150px;
    background-color: #ececec;
    border-radius: 14px 0 14px 14px;
}
.intermessage3 p{
    margin-left: 10px;
    margin-top: 8px;
}
/*end*/

.writemessage{
	display: flex;
	width: 100%;
	height: 60px;
    /* background-color: rgb(250, 162, 0); */
}
.tyop{
    display: flex;
    flex-direction: row;
	width: 100%;
    height: 59px;
    border-top: 1px solid #e4e4e4;
    /* background-color: darkolivegreen; */
    
}
.logo span{
	cursor: pointer;
}
.iconk{
    height: 100%;
    width: 150px;
    
}
.iconk img{
    margin: 20px 0 0 0;
    height: 22px;
    width: 24px;
}
.iconk #dagger{
    margin-left: 20px;
}
.iconk #gif{
    margin-left: 10px;
}
.iconk #nas{
    margin-left: 10px;
}
.input{
    height: 58px;
    width: 90%;
}
.input input{
    height: 40px;
    font-size: 16px;
    margin-top: 12px;
    width: 100%;
    padding: 0;
}
.microphone{
    height: 58px;
    width: 60px;
}
.microphone img{
    height: 48px;
    width: 48px;
    margin: 5px;
}
.arrow-left, .arrow-right,
.paragraphs li, .tools img,
.tools p, .tools #replenish, 
.widgets img, .profile span,
.tyop img{
    cursor: pointer;
}
